<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @medicare_advantage.state %>
</p>

<p>
  <strong>State abbreviation:</strong>
  <%= @medicare_advantage.state_abbreviation %>
</p>

<p>
  <strong>Organization name:</strong>
  <%= @medicare_advantage.organization_name %>
</p>

<p>
  <strong>Enrolled:</strong>
  <%= @medicare_advantage.enrolled %>
</p>

<p>
  <strong>Total state ma enrollment:</strong>
  <%= @medicare_advantage.total_state_ma_enrollment %>
</p>

<p>
  <strong>Market share in state:</strong>
  <%= @medicare_advantage.market_share_in_state %>
</p>

<%= link_to 'Edit', edit_medicare_advantage_path(@medicare_advantage) %> |
<%= link_to 'Back', medicare_advantages_path %>
