<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <%= render 'form' %>
    </div>
  </div>
  <%= render 'loading_spinner' %>
</div>
<%= javascript_tag do %>
  window.msas = <%=raw @msas.to_json %>;
  window.hospitals = <%=raw @hospitals.to_json %>;
  $(function() {
    console.log("working");
    $( "#tags" ).autocomplete({
      source: msas
    });
    $( "#hospitals" ).autocomplete({
      source: hospitals
    });
    $('.spinner').hide();
    $('.search-button').on("click", function() {
      $('.spinner').show();
    });
  });
<% end %>
