<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <%= form_tag(results_search_path, method: 'post', class:'master-search-form') do %>
        <div class="ui-widget form-group">
          <label for="hospitals" class="">Hospital</label>
          <input id="hospitals" name="hospitals" class="msa-input">
        </div>
        <p>OR</p>
        <div class="ui-widget form-group">
          <label for="tags" class="">MSA</label>
          <input id="tags" name="tags" class="msa-input">
        </div>
        <br>
        <div class="">
          <%= check_box_tag(:staffed_beds, 1, params[:remember_beds]) %>
          <%= label_tag(:staffed_beds, "Staffed Beds", class: "checkbox-label") %>
          <%= check_box_tag(:discharges, 1, params[:remember_discharges]) %>
          <%= label_tag(:discharges, "Discharges", class: "checkbox-label") %>
          <%= check_box_tag(:copd_readmissions, 1, params[:remember_readmissions]) %>
          <%= label_tag(:copd_readmissions, "COPD Readmissions", class: "checkbox-label") %>
        </div>
        <br>
        <select name="range" id="range" class="form-control search-range">
          <option value="5">Top 5</option>
          <option value="10">Top 10</option>
          <option value="15">Top 15</option>
        </select>
        <div class="form-group search-button-form">
          <%= submit_tag "Search", class: "btn btn-primary search-button" %>
          <i class="fa-li fa fa-spinner fa-spin"></i>
        </div>
      <% end %>
    </div>
  </div>
  <div class="spinner">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
  <% if @user_selected_msa %> 
    <div class="row">
      <h4><%= @user_selected_msa %></h4>
      <% if @msa_market_size.class == String %>
        <p>Projected Market size: <%= @msa_market_size %></p>
      <% else %>
        <p>Projected Market size: <%= number_with_delimiter(@msa_market_size.round(0)) %></p>
      <% end %>
      <p>Total Number of Hospitals: <%= @hospital_count %></p>
      <p>Total Number of Beds: <%= number_with_delimiter @beds_count %></p>
    </div>
    <div class="row">
      <h3>Top Hospitals</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Hospital</th>
            <% if @beds_metric %>
              <th>Staffed Beds</th>
            <% end %>
            <% if @discharges_metric %>
              <th>Discharges</th>
            <% end %>
            <% if @copd_readmissions_metric %>
              <th>COPD Readmissions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <% @hospitals_with_metrics.first(@range).map {|h| h[0] }.each_with_index do |hospital,i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= link_to "#{hospital.name}", hospital %></td>
            <% if @beds_metric %>
              <td><%= hospital.hospital_bedsizes.first.staffed_beds %></td>
            <% end %>
            <% if @discharges_metric %>
              <td><%= number_with_delimiter hospital.hospital_bedsizes.first.total_discharges %></td> 
            <% end %>
            <% if @copd_readmissions_metric %>
              <td><%= hospital.copd_readmissions %></td> 
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <% if @user_selected_hospital %>
    <div class="row">
      <h4><%= @inferred_msa %></h4>
      <% if @msa_market_size.class == String %>
        <p>Projected Market size: <%= @msa_market_size %></p>
      <% else %>
        <p>Projected Market size: <%= number_with_delimiter @msa_market_size.round(0) %></p>
      <% end %>
      <p>Total Number of Hospitals: <%= @hospital_count %></p>
      <p>Total Number of Beds: <%= number_with_delimiter @beds_count %></p>
    </div>
    <div class="row">
      <h3>Hospital Information</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Hospital</th>
            <% if @beds_metric %>
              <th>Staffed Beds</th>
            <% end %>
            <% if @discharges_metric %>
              <th>Discharges</th>
            <% end %>
            <% if @copd_readmissions_metric %>
              <th>COPD Readmissions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to "#{@hospital.name}", @hospital %></td>
            <% if @beds_metric %>
              <td><%= @hospital_beds %></td>
            <% end %>
            <% if @discharges_metric %>
              <td><%= number_with_delimiter @discharges %></td>
            <% end %>
            <% if @copd_readmissions_metric %>
              <td><%= @copd_readmissions %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
  <% end %>  
</div>
<%= javascript_tag do %>
  window.msas = <%=raw @msas.to_json %>;
  window.hospitals = <%=raw @hospitals.to_json %>;
  $(function() {
    $('.spinner').hide();
    console.log("working");
    $('.search-button').on("click", function() {
      console.log('something');
      $('.spinner').show();
    });
    $( "#tags" ).autocomplete({
      source: msas
    });
    $( "#hospitals" ).autocomplete({
      source: hospitals
    });
  });
<% end %>
