<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <%= form_tag(results_search_path, method: 'post', class:'master-search-form') do %>
        <div class="ui-widget form-group">
          <label for="hospitals" class="">Hospital</label>
          <input id="hospitals" name="hospitals" class="msa-input">
        </div>
        <br>
        <p>OR</p>
        <br>
        <div class="ui-widget form-group">
          <label for="tags" class="">MSA</label>
          <input id="tags" name="tags" class="msa-input">
        </div>
        <br>
        <div class="">
          <%= check_box_tag(:staffed_beds, 1, true) %>
          <%= label_tag(:staffed_beds, "Staffed Beds", class: "checkbox-label") %>
          <%= check_box_tag(:discharges, 1, true) %>
          <%= label_tag(:discharges, "Discharges", class: "checkbox-label") %>
          <%= check_box_tag(:copd_readmissions, 1, true) %>
          <%= label_tag(:copd_readmissions, "COPD Readmissions", class: "checkbox-label") %>
        </div>
        <br>
        <div class="form-group search-button-form">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @user_selected_msa %> 
    <div class="row">
      <h4><%= @user_selected_msa %></h4>
      <% if @msa_market_size.class == String %>
        <p>Projected Market size: <%= @msa_market_size %></p>
      <% else %>
        <p>Projected Market size: <%= @msa_market_size.round(0) %></p>
      <% end %>
      <p>Total Number of Hospitals: <%= @hospital_count %></p>
      <p>Total Number of Beds: <%= @beds_count %></p>
    </div>
    <div class="row">
      <h3>Top Hospitals</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Hospital</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Phone</th>
            <% if @beds_metric %>
              <th>Staffed Beds</th>
            <% end %>
            <% if @discharges_metric %>
              <th>Discharges</th>
            <% end %>
            <% if @copd_readmissions_metric %>
              <th>COPD Readmissions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <% @hospitals_with_metrics.first(5).map {|h| h[0] }.each_with_index do |hospital,i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= hospital.name %></td>
            <td><%= hospital.address %></td>
            <td><%= hospital.city %></td>
            <td><%= hospital.state %></td> 
            <td><%= hospital.phone %></td>
            <% if @beds_metric %>
              <td><%= hospital.hospital_bedsizes.first.staffed_beds %></td>
            <% end %>
            <% if @discharges_metric %>
              <td><%= hospital.hospital_bedsizes.first.total_discharges %></td> 
            <% end %>
            <% if @copd_readmissions_metric %>
              <td><%= hospital.copd_readmissions %></td> 
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <% if @user_selected_hospital %>
    <div class="row">
      <h4><%= @inferred_msa %></h4>
      <% if @msa_market_size.class == String %>
        <p>Projected Market size: <%= @msa_market_size %></p>
      <% else %>
        <p>Projected Market size: <%= @msa_market_size.round(0) %></p>
      <% end %>
      <p>Total Number of Hospitals: <%= @hospital_count %></p>
      <p>Total Number of Beds: <%= @beds_count %></p>
    </div>
    <div class="row">
      <h3>Hospital Information</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Hospital</th>
            <% if @beds_metric %>
              <th>Staffed Beds</th>
            <% end %>
            <% if @discharges_metric %>
              <th>Discharges</th>
            <% end %>
            <% if @copd_readmissions_metric %>
              <th>COPD Readmissions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @hospital.name %></td>
            <% if @beds_metric %>
              <td><%= @hospital_beds %></td>
            <% end %>
            <% if @discharges_metric %>
              <td><%= @discharges %></td>
            <% end %>
            <% if @copd_readmissions_metric %>
              <td><%= @copd_readmissions %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
  <% end %>  
</div>
<%= javascript_tag do %>
  window.msas = <%=raw @msas.to_json %>;
  window.hospitals = <%=raw @hospitals.to_json %>;
  $(function() {
    $( "#tags" ).autocomplete({
      source: msas
    });
    $( "#hospitals" ).autocomplete({
      source: hospitals
    });
  });
<% end %>
