<p id="notice"><%= notice %></p>

<p>
  <strong>Mco:</strong>
  <%= @rollup_parent.mco_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @rollup_parent.owner_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @rollup_parent.company %>
</p>

<p>
  <strong>Al:</strong>
  <%= @rollup_parent.al %>
</p>

<p>
  <strong>Ak:</strong>
  <%= @rollup_parent.ak %>
</p>

<p>
  <strong>Ar:</strong>
  <%= @rollup_parent.ar %>
</p>

<p>
  <strong>Az:</strong>
  <%= @rollup_parent.az %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @rollup_parent.ca %>
</p>

<p>
  <strong>Co:</strong>
  <%= @rollup_parent.co %>
</p>

<p>
  <strong>Ct:</strong>
  <%= @rollup_parent.ct %>
</p>

<p>
  <strong>Dc:</strong>
  <%= @rollup_parent.dc %>
</p>

<p>
  <strong>De:</strong>
  <%= @rollup_parent.de %>
</p>

<p>
  <strong>Fl:</strong>
  <%= @rollup_parent.fl %>
</p>

<p>
  <strong>Ga:</strong>
  <%= @rollup_parent.ga %>
</p>

<p>
  <strong>Hi:</strong>
  <%= @rollup_parent.hi %>
</p>

<p>
  <strong>Ia:</strong>
  <%= @rollup_parent.ia %>
</p>

<p>
  <strong>Indiana:</strong>
  <%= @rollup_parent.indiana %>
</p>

<p>
  <strong>Il:</strong>
  <%= @rollup_parent.il %>
</p>

<p>
  <strong>In:</strong>
  <%= @rollup_parent.in %>
</p>

<p>
  <strong>Ks:</strong>
  <%= @rollup_parent.ks %>
</p>

<p>
  <strong>Ky:</strong>
  <%= @rollup_parent.ky %>
</p>

<p>
  <strong>La:</strong>
  <%= @rollup_parent.la %>
</p>

<p>
  <strong>Ma:</strong>
  <%= @rollup_parent.ma %>
</p>

<p>
  <strong>Me:</strong>
  <%= @rollup_parent.me %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @rollup_parent.mi %>
</p>

<p>
  <strong>Md:</strong>
  <%= @rollup_parent.md %>
</p>

<p>
  <strong>Mn:</strong>
  <%= @rollup_parent.mn %>
</p>

<p>
  <strong>Ms:</strong>
  <%= @rollup_parent.ms %>
</p>

<p>
  <strong>Mo:</strong>
  <%= @rollup_parent.mo %>
</p>

<p>
  <strong>Mt:</strong>
  <%= @rollup_parent.mt %>
</p>

<p>
  <strong>Nc:</strong>
  <%= @rollup_parent.nc %>
</p>

<p>
  <strong>Nd:</strong>
  <%= @rollup_parent.nd %>
</p>

<p>
  <strong>Ne:</strong>
  <%= @rollup_parent.ne %>
</p>

<p>
  <strong>Nh:</strong>
  <%= @rollup_parent.nh %>
</p>

<p>
  <strong>Nj:</strong>
  <%= @rollup_parent.nj %>
</p>

<p>
  <strong>Nm:</strong>
  <%= @rollup_parent.nm %>
</p>

<p>
  <strong>Nv:</strong>
  <%= @rollup_parent.nv %>
</p>

<p>
  <strong>Ny:</strong>
  <%= @rollup_parent.ny %>
</p>

<p>
  <strong>Oh:</strong>
  <%= @rollup_parent.oh %>
</p>

<p>
  <strong>Ok:</strong>
  <%= @rollup_parent.ok %>
</p>

<p>
  <strong>Or:</strong>
  <%= @rollup_parent.or %>
</p>

<p>
  <strong>Pa:</strong>
  <%= @rollup_parent.pa %>
</p>

<p>
  <strong>Ri:</strong>
  <%= @rollup_parent.ri %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @rollup_parent.sc %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @rollup_parent.sd %>
</p>

<p>
  <strong>Tn:</strong>
  <%= @rollup_parent.tn %>
</p>

<p>
  <strong>Tx:</strong>
  <%= @rollup_parent.tx %>
</p>

<p>
  <strong>Ut:</strong>
  <%= @rollup_parent.ut %>
</p>

<p>
  <strong>Va:</strong>
  <%= @rollup_parent.va %>
</p>

<p>
  <strong>Vt:</strong>
  <%= @rollup_parent.vt %>
</p>

<p>
  <strong>Wa:</strong>
  <%= @rollup_parent.wa %>
</p>

<p>
  <strong>Wi:</strong>
  <%= @rollup_parent.wi %>
</p>

<p>
  <strong>Wv:</strong>
  <%= @rollup_parent.wv %>
</p>

<p>
  <strong>Wy:</strong>
  <%= @rollup_parent.wy %>
</p>

<p>
  <strong>Pr:</strong>
  <%= @rollup_parent.pr %>
</p>

<p>
  <strong>Foreign:</strong>
  <%= @rollup_parent.foreign %>
</p>

<%= link_to 'Edit', edit_rollup_parent_path(@rollup_parent) %> |
<%= link_to 'Back', rollup_parents_path %>
