<p id="notice"><%= notice %></p>

<h1>Listing Snifs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Mcr rating</th>
      <th>Beds capacity</th>
      <th>Medicare</th>
      <th>Medicaid</th>
      <th>Percentage occupied</th>
      <th>Beds unavailable</th>
      <th>In hospital</th>
      <th>Population</th>
      <th>Corporation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snifs.each do |snif| %>
      <tr>
        <td><%= snif.name %></td>
        <td><%= snif.phone_number %></td>
        <td><%= snif.address %></td>
        <td><%= snif.city %></td>
        <td><%= snif.state %></td>
        <td><%= snif.zipcode %></td>
        <td><%= snif.mcr_rating %></td>
        <td><%= snif.beds_capacity %></td>
        <td><%= snif.medicare %></td>
        <td><%= snif.medicaid %></td>
        <td><%= snif.percentage_occupied %></td>
        <td><%= snif.beds_unavailable %></td>
        <td><%= snif.in_hospital %></td>
        <td><%= snif.population %></td>
        <td><%= snif.corporation %></td>
        <td><%= link_to 'Show', snif %></td>
        <td><%= link_to 'Edit', edit_snif_path(snif) %></td>
        <td><%= link_to 'Destroy', snif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snif', new_snif_path %>
