<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snif.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @snif.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @snif.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @snif.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @snif.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @snif.zipcode %>
</p>

<p>
  <strong>Mcr rating:</strong>
  <%= @snif.mcr_rating %>
</p>

<p>
  <strong>Beds capacity:</strong>
  <%= @snif.beds_capacity %>
</p>

<p>
  <strong>Medicare:</strong>
  <%= @snif.medicare %>
</p>

<p>
  <strong>Medicaid:</strong>
  <%= @snif.medicaid %>
</p>

<p>
  <strong>Percentage occupied:</strong>
  <%= @snif.percentage_occupied %>
</p>

<p>
  <strong>Beds unavailable:</strong>
  <%= @snif.beds_unavailable %>
</p>

<p>
  <strong>In hospital:</strong>
  <%= @snif.in_hospital %>
</p>

<p>
  <strong>Population:</strong>
  <%= @snif.population %>
</p>

<p>
  <strong>Corporation:</strong>
  <%= @snif.corporation %>
</p>

<%= link_to 'Edit', edit_snif_path(@snif) %> |
<%= link_to 'Back', snifs_path %>
