<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @hospital_general.provider_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hospital_general.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hospital_general.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @hospital_general.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @hospital_general.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @hospital_general.zip %>
</p>

<p>
  <strong>County:</strong>
  <%= @hospital_general.county %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@hospital_general.phone) %>
</p>

<p>
  <strong>Hospital Type:</strong>
  <%= @hospital_general.hospital_type %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @hospital_general.ownership %>
</p>

<p>
  <strong>Emergency:</strong>
  <%= @hospital_general.emergency %>
</p>

<% bedsize = @hospital_general.hospital_bedsizes.first %>
<% staffed_beds = bedsize.staffed_beds if bedsize %>
<% discharges = bedsize.total_discharges if bedsize %>
<% copd_readmissions = @hospital_general.copd_readmissions %>

<p>
  <strong>Staffed Beds:</strong>
  <%= !staffed_beds.nil? ? staffed_beds : "N/A" %>
</p>

<p>
  <strong>Discharges:</strong>
  <%= !discharges.nil? ? number_with_delimiter(discharges) : "N/A" %>
</p>

<p>
  <strong>COPD Readmissions:</strong>
  <%= !(copd_readmissions == 0) ? copd_readmissions : "N/A" %>
</p>

<p>
  <strong>Fines:</strong>
  $<%= number_with_delimiter @hospital_general.total_fines.round(0) %>
</p>

