<p id="notice"><%= notice %></p>

<p>
  <strong>Mco name:</strong>
  <%= @health_plan.mco_name %>
</p>

<p>
  <strong>Mco:</strong>
  <%= @health_plan.mco_id %>
</p>

<p>
  <strong>Mco owner:</strong>
  <%= @health_plan.mco_owner %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @health_plan.owner_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @health_plan.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @health_plan.city %>
</p>

<p>
  <strong>State abbreviation:</strong>
  <%= @health_plan.state_abbreviation %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @health_plan.zip %>
</p>

<p>
  <strong>Url:</strong>
  <%= @health_plan.url %>
</p>

<p>
  <strong>Profit status:</strong>
  <%= @health_plan.profit_status %>
</p>

<p>
  <strong>Private public:</strong>
  <%= @health_plan.private_public %>
</p>

<p>
  <strong>Telephone one:</strong>
  <%= @health_plan.telephone_one %>
</p>

<p>
  <strong>Telephone two:</strong>
  <%= @health_plan.telephone_two %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @health_plan.fax %>
</p>

<p>
  <strong>Contracted pbm:</strong>
  <%= @health_plan.contracted_pbm %>
</p>

<p>
  <strong>Contracted sp vendor:</strong>
  <%= @health_plan.contracted_sp_vendor %>
</p>

<p>
  <strong>Service areas:</strong>
  <%= @health_plan.service_areas %>
</p>

<p>
  <strong>Aliases:</strong>
  <%= @health_plan.aliases %>
</p>

<p>
  <strong>Provider sponsored:</strong>
  <%= @health_plan.provider_sponsored %>
</p>

<p>
  <strong>Blues:</strong>
  <%= @health_plan.blues %>
</p>

<p>
  <strong>Al:</strong>
  <%= @health_plan.al %>
</p>

<p>
  <strong>Ak:</strong>
  <%= @health_plan.ak %>
</p>

<p>
  <strong>Ar:</strong>
  <%= @health_plan.ar %>
</p>

<p>
  <strong>Az:</strong>
  <%= @health_plan.az %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @health_plan.ca %>
</p>

<p>
  <strong>Co:</strong>
  <%= @health_plan.co %>
</p>

<p>
  <strong>Ct:</strong>
  <%= @health_plan.ct %>
</p>

<p>
  <strong>Dc:</strong>
  <%= @health_plan.dc %>
</p>

<p>
  <strong>De:</strong>
  <%= @health_plan.de %>
</p>

<p>
  <strong>Fl:</strong>
  <%= @health_plan.fl %>
</p>

<p>
  <strong>Ga:</strong>
  <%= @health_plan.ga %>
</p>

<p>
  <strong>Hi:</strong>
  <%= @health_plan.hi %>
</p>

<p>
  <strong>Ia:</strong>
  <%= @health_plan.ia %>
</p>

<p>
  <strong>Indiana:</strong>
  <%= @health_plan.indiana %>
</p>

<p>
  <strong>Il:</strong>
  <%= @health_plan.il %>
</p>

<p>
  <strong>In:</strong>
  <%= @health_plan.in %>
</p>

<p>
  <strong>Ks:</strong>
  <%= @health_plan.ks %>
</p>

<p>
  <strong>Ky:</strong>
  <%= @health_plan.ky %>
</p>

<p>
  <strong>La:</strong>
  <%= @health_plan.la %>
</p>

<p>
  <strong>Ma:</strong>
  <%= @health_plan.ma %>
</p>

<p>
  <strong>Me:</strong>
  <%= @health_plan.me %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @health_plan.mi %>
</p>

<p>
  <strong>Md:</strong>
  <%= @health_plan.md %>
</p>

<p>
  <strong>Mn:</strong>
  <%= @health_plan.mn %>
</p>

<p>
  <strong>Ms:</strong>
  <%= @health_plan.ms %>
</p>

<p>
  <strong>Mo:</strong>
  <%= @health_plan.mo %>
</p>

<p>
  <strong>Mt:</strong>
  <%= @health_plan.mt %>
</p>

<p>
  <strong>Nc:</strong>
  <%= @health_plan.nc %>
</p>

<p>
  <strong>Nd:</strong>
  <%= @health_plan.nd %>
</p>

<p>
  <strong>Ne:</strong>
  <%= @health_plan.ne %>
</p>

<p>
  <strong>Nh:</strong>
  <%= @health_plan.nh %>
</p>

<p>
  <strong>Nj:</strong>
  <%= @health_plan.nj %>
</p>

<p>
  <strong>Nm:</strong>
  <%= @health_plan.nm %>
</p>

<p>
  <strong>Nv:</strong>
  <%= @health_plan.nv %>
</p>

<p>
  <strong>Ny:</strong>
  <%= @health_plan.ny %>
</p>

<p>
  <strong>Oh:</strong>
  <%= @health_plan.oh %>
</p>

<p>
  <strong>Ok:</strong>
  <%= @health_plan.ok %>
</p>

<p>
  <strong>Or:</strong>
  <%= @health_plan.or %>
</p>

<p>
  <strong>Pa:</strong>
  <%= @health_plan.pa %>
</p>

<p>
  <strong>Ri:</strong>
  <%= @health_plan.ri %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @health_plan.sc %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @health_plan.sd %>
</p>

<p>
  <strong>Tn:</strong>
  <%= @health_plan.tn %>
</p>

<p>
  <strong>Tx:</strong>
  <%= @health_plan.tx %>
</p>

<p>
  <strong>Ut:</strong>
  <%= @health_plan.ut %>
</p>

<p>
  <strong>Va:</strong>
  <%= @health_plan.va %>
</p>

<p>
  <strong>Vt:</strong>
  <%= @health_plan.vt %>
</p>

<p>
  <strong>Wa:</strong>
  <%= @health_plan.wa %>
</p>

<p>
  <strong>Wi:</strong>
  <%= @health_plan.wi %>
</p>

<p>
  <strong>Wv:</strong>
  <%= @health_plan.wv %>
</p>

<p>
  <strong>Wy:</strong>
  <%= @health_plan.wy %>
</p>

<p>
  <strong>Pr:</strong>
  <%= @health_plan.pr %>
</p>

<p>
  <strong>Foreign:</strong>
  <%= @health_plan.foreign %>
</p>

<%= link_to 'Edit', edit_health_plan_path(@health_plan) %> |
<%= link_to 'Back', health_plans_path %>
