<!DOCTYPE html>
<html>
<head>
  <title>AlanaFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Alana Healthcare
      </a>
    </div>
  </div>
</nav>
<div id="main" role="main">
  <div class="container">
    <div class="row"> 
      <div class="col-md-4 col-md-offset-3">
        <%= render 'layouts/messages' %>
      </div>
    </div>
    <div class="row"> 
      <%= yield %>
    </div>
  </div>
</div> <!-- end of #main -->
</body>
</html>
